.bg_dark_blue {
    background-color: darkslateblue;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.filters {
    width: 300px;
    margin-top: 1rem;
}

.container-fluid h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.filter {
    display: flex;
    margin-bottom: 10px;
}

.filter label {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.filter input {
    flex-grow: 1;

}